*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.content{
    text-align: center;
}

[data-testid = "slackUserName"] {
    font-size: 52px;
    margin-bottom: 10px;
}

[data-testid = "slackDisplayImage"] {
    height: 400px;
    width: 400px;
    border-radius: 200px;
    border: 1px black solid;
}

[data-testid = "slackDisplayImage"]:hover {
    transform: scaleX(1);
    transform: scaleY(0.95);

}

[data-testid = "currentDayOfTheWeek"] {
    margin-top: 10px;
    font-size: 24px;
    margin-bottom: 10px;
}

[data-testid = "currentUTCTime"]{
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 15px;
}

[data-testid = "myTrack"] {
    font-size: 28px;
    font-style: italic;
    margin-bottom: 10px;
}

[data-testid = "githubURL"] {
    font-size: 18px;
    text-decoration: none;
    color: aquamarine;
    background: #04175c;
    padding: 5px 10px 6px 12px;
    border-radius: 4px;
}

[data-testid = "githubURL"]:hover{
    color: #fff;
    background: #233b95;
} 